body{
  margin:0;
  font-family:Arial, sans-serif;
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
  text-align:center;
}

.card{
  max-width:500px;
  margin:20px auto;
  padding:20px;
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(10px);
  border-radius:15px;
}

h2{
  margin-top:0;
}

#tanggal{
  font-weight:bold;
  margin-top:5px;
}

#jam{
  font-size:20px;
  margin-bottom:10px;
}

#countdown{
  margin:10px 0;
  font-weight:bold;
  color:#ffd54f;
}

table{
  width:100%;
  margin-top:10px;
  border-collapse:collapse;
}

th,td{
  padding:8px;
  border-bottom:1px solid rgba(255,255,255,0.3);
}

#map{
  height:220px;
  margin-top:15px;
  border-radius:10px;
}

button{
  margin-top:15px;
  padding:10px;
  width:100%;
  border:none;
  border-radius:8px;
  background:#ff9800;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

footer{
  margin:15px;
  font-size:12px;
  opacity:0.7;
}
